.myform {
  margin-top: 75px;
  width: 100%;
}

.infoForm {
  border: solid 1px #FF9B39;
  max-width: 1000px;
  margin: 0 auto;
}

.formitem {
  display: block;
  padding: 1em;
}

mat-form-field {
  width: 100%;
}

.buttonform {
  text-align: center;
}

.submitbutton {
  margin: 0 auto;
  padding-left: 25%;
  padding-right: 25%;
  color: #ffffff;
  background-color: #FF9B39;
}

.invalid-feedback {
  color: #F44336;
}

::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
  display: block !important;
}

.title {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1218px){
 
  .infoForm {
    max-width: 800px;
  }
   
}

@media only screen and (max-width: 1115px){
 
  .infoForm {
    max-width: 600px;
  }
   
}

@media only screen and (max-width: 820px){
 
  .infoForm {
    max-width: 400px;
  }
   
}